.ant-layout-sider {
  height: 100vh;
}

.ant-layout-content {
  margin: 0 !important;
  height: calc(100vh - 64px);
  overflow: scroll;
}
.btn_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

:where(.css-dev-only-do-not-override-1m62vyb).ant-table-wrapper
  .ant-table-pagination-right {
  justify-content: center !important;
}

button:focus {
  outline: none;
}
